body {
  font-family: "Noto Sans Mono", "Cascadia Mono", "DejaVu Sans Mono", Menlo, Consolas, Monaco, "Courier New", monospace;
}
code {
  font-family: "Noto Sans Mono", "Cascadia Mono", "DejaVu Sans Mono", Menlo, Consolas, Monaco, "Courier New", monospace;
  font-size: 85%;
}
